nav {
    padding: 30px;
    font-size: x-large;
}
    
nav a {
    font-weight: bold;
    color: aliceblue;
    font-size: x-large;
    justify-content: space-between;
}
    
nav a.router-link-exact-active {
    color: wheat;
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: large;
    border-bottom: 3px groove;
    background-color: #0033a1
}
.pages-name{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.enter{
    font-weight: bold;
    color: aliceblue;
    font-size: x-large;
    justify-content: space-between;
    margin: 20pt;
}