nav {
    padding:30px;
    font-size: x-large;
}
    
nav a {
    font-weight: bold;
    color: aliceblue;
    font-size: x-large;
    justify-content: space-between;
}
.menu-phone{
    padding: 35px 10px;
    color: aliceblue;
    display: flex;  
}
li{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 10px;
    display: block;
    float: left;
}    
nav a.router-link-exact-active {
    color: wheat;
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: large;
    border-bottom: 3px groove;
    background-color: #0033a1
}
.pages-name{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.enter{
    font-weight: bold;
    color: aliceblue;
    font-size: x-large;
    justify-content: space-between;
    margin: 20pt;
}